<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sharekitten</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/colors.css">
</head>
<body class="center">

  <header class="center">
    <h2>Sharekitten</h2>
    <small>Free file sharing, supports up to 2GB every 6h per person</small>
  </header>

  <main class="center">
    {{{ body }}}
  </main>
  
</body>
</html>
