@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap');

:root {
  --background: #000000;
  --foreground: #ffffff;
  --link: #ffaa61;
  --nhl: #818181;
  --hl: #ffdea2;
}

* {
  font-family: 'IBM Plex Mono', monospace;
  color: var(--foreground);
}

body {
  background-color: var(--background);
}

a {
  color: var(--link);
}

button, #uploadLabel {
  font-size: 1.1rem;
  color: var(--link);
  background-color: var(--background);
  border: none;
}

#public {
  color: var(--hl);
}

#private {
  color: var(--nhl);
}

button:hover, #uploadLabel:hover {
  cursor: pointer;
}

button:active, input::file-selector-button:active {
  background-color: var(--foreground);
  color: var(--background);
}
