:root {
  font-size: 12pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

p {
  text-align: center;
}

small {
  max-width: 90vw;
  font-size: 0.9rem;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  row-gap: 0.5rem;
}

html {
  height: 100%;
}

body {
  padding-bottom: 15px;
}

body {
  row-gap: 1.5rem;
}

main {
  row-gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

#upload {
  display: none;
}

#uploadLabel {
  max-width: 95vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form button {
  margin-top: 2px;
}

input[type=file] {
  padding: 4px 0;
}

/* Checkbox styling because why couldn't it be easy??? */
#isPublic {
  display: none;
}

#public, #private {
  user-select: none;
}

#public:hover, #private:hover {
  cursor: pointer;
}

#public {
  display: none
}

#private {
  display: inline;
}

/* Checked */
#isPublic:checked ~ #public {
  display: inline;
}

#isPublic:checked ~ #private {
  display: none;
}

.files {
  width: 100%;
  border-collapse: collapse;
}

.files td {
  padding: 0 0.5ch;
}

.files .link {
  width: 44ch;
}

th {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--link);
  margin-bottom: 5px;
  text-align: start;
}

.table-sep {
  height: 5px;
}

.files tr td {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .files .header {
    display: none;
  }

  .files {
    border-spacing: 10px;
    border-collapse: inherit;
  }

  .files .link-cell {
    padding: 10px;
    border: 1px solid var(--link);
  }

  .files tr > :nth-child(1) {
    max-width: 90vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .files tr > :nth-child(2) {
    display: none;
  }
1
