:root {
  font-size: 12pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

small {
  font-size: 0.9rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  row-gap: 0.5rem;
}

body {
  height: 100vh;
  row-gap: 1.5rem;
}

main {
  row-gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2px;
}

form button {
  margin-top: 10px;
}

input[type=file] {
  padding: 4px 0;
}

/* Checkbox styling because why couldn't it be easy??? */
#isPublic {
  display: none;
}

#public, #private {
  user-select: none;
}

#public:hover, #private:hover {
  cursor: pointer;
}

#public {
  display: none
}

#private {
  display: inline;
}

/* Checked */
#isPublic:checked ~ #public {
  display: inline;
}

#isPublic:checked ~ #private {
  display: none;
}
